/* Fonts */
@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: MontserratLight;
    src: url(../assets/fonts/Montserrat/static/Montserrat-ExtraLight.ttf);
}


@font-face {
    font-family: MontserratBold;
    src: url(../assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: MontserratSemiBold;
    src: url(../assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

/* Home */

.carousel-container {
    position: relative;
    overflow: hidden;
    height: 600px;

    margin-top: 20px;

    border-radius: 15px;
}

.carousel {
    overflow-x: auto;

    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.carousel-slide {
    flex-shrink: 0;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    object-fit: fill;
}

.carousel-slide h1 {
    font-family: MontserratBold;

    color: #ffffff;
    font-size: 80px;

    text-align: center;
    text-transform: uppercase;

    margin-bottom: 65px;

    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    z-index: 2;
}

.carousel-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0));
    z-index: 1;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    z-index: 3;
}

.carousel-indicators .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-indicators .dot.active {
    background-color: white;
}

.slide-overlay {
    border: 1px solid #15609550;
    background-color: #09304C50;

    border-radius: 15px;

    width: 30%;
    height: 200px;

    position: absolute;

    bottom: 20px;
    left: 20px;

    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;

    z-index: 2;
}

.slide-overlay p {
    margin-left: 15px;

    font-family: Poppins;
    color: #ffffff;
    font-size: 16px;
}

.slide-overlay button {
    background-color: #155F95;
    border: none;

    margin-left: 10px;

    padding: 8px 20px 10px 20px;

    border-radius: 10px;

    font-family: Poppins;
    color: #ffffff;
    font-size: 16px;

    cursor: pointer;
}

.slide-overlay button .seta {
    margin-left: 8px;
    font-size: 18px;
    display: inline-block;
}

.slide-overlay button:hover {
    background-color: #0f6cad !important;
}


.nav-buttons {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: -60px;
    z-index: 3;
}

.nav-button {
    background: rgba(255,255,255,0.2);
    border: none;
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.nav-button:hover {
    background: rgba(255,255,255,0.3);
}

.home-about {
    display: flex;
    justify-content: space-between;

    margin-top: 30px;
}

.home-about .about-text {
    width: 45%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home-about .about-text h3 {
    font-family: MontserratLight;
    font-size: 20px;

    text-transform: uppercase;
    color: black;
}

.home-about .about-text h1 {
    font-family: MontserratBold;
    font-size: 40px;

    text-transform: uppercase;
    color: #155F95;
}

.home-about .about-text p {
    font-family: Poppins;
    font-size: 16px;

    color: black;
}

.home-about .about-text button {
    width: 30%;
    background-color: #155F95;
    border: none;

    padding: 10px;

    border-radius: 10px;

    font-family: Poppins;
    color: #ffffff;
    font-size: 16px;

    cursor: pointer;
}

.home-about .about-text button:hover {
    background-color: #0f6cad !important;
}

.home-about .about-text button .seta {
    margin-left: 8px;
    font-size: 18px;
    display: inline-block;
}

.home-about #about {
    width: 50%;
}

.home-services{
    margin-top: 30px;
}

.home-services h2{
    font-family: Montserrat;
    font-size: 30px;

    color: black;

    text-transform: uppercase;

    margin-bottom: 15px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 20px;
    grid-template-areas:
        "a b e"
        "c b d";
}

.service[data-id="1"] {
    grid-area: a;
}

.service[data-id="2"] {
    grid-area: c;
}

.service[data-id="3"] {
    grid-area: b;
}

/* Ocupa duas linhas */
.service[data-id="4"] {
    grid-area: d;
}

.service[data-id="5"] {
    grid-area: e;
}

.service {
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

    transition: transform 0.3s ease;

    cursor: pointer;
}

.service:hover{
    transform: scale(1.02);
}

.service .text {
    font-size: 20px;

    font-family: MontserratBold;
    font-weight: bold;
    text-transform: uppercase;

    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.85);
}

.service .icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #155F95;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 2px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.85);
}

.service .icon:hover{
    background-color: #0f6cad !important;
}
